conda create --name diffuser python==3.8.5
conda activate diffuser
pip install --upgrade diffusers[torch]==0.19.3
pip install transformers
pip install torchvision=0.16.0
pip install opencv-python
pip install einops
pip install matplotlib
pip install timm
pip install av
pip install basicsr==1.4.2



pip install numba==0.57.0
pip install imageio-ffmpeg



pip install gradio==3.44.4
